
<h3>You new here? Come and join us!</h3>
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="Choose a username"><br><br>
        <input type="password" name="password_digest" placeholder="Choose a password"><br><br>
        <input type="email" name="email" placeholder="Enter email"><br><br>
        <input type="submit" value="Signup">
    </form> 