<h1>You new here? Come and join us!</h1>
    <form action="/signup" method="post">
        <input type="email" name="email" placeholder="Enter email"><br><br>
        <input type="text" name="username" placeholder="Enter username" id="id"><br><br>
        <input type="password" name="password" placeholder="Choose a password"><br><br>
        <input type="submit" value="Signup">
    </form> 